<!DOCTYPE html>
<html>
<head>
	<title>George Blog_add</title>
</head>
<body style="background-color:#F5F5DC ">
<h1 align="center">George Blog</h1>
		<h4 align="right"><a href="/blog/">首頁</a>/<a href="/blog/add/">新增文章</a></h4>
<hr>
<form action="/blog/save/" method="get">
  Author:<br>
  <input type="text" name="author"/>
  <br>
  Title:<br>
  <input type="text" name="title"/>

  <br>
  Content:<br>
  <textarea style="width:300px;height:100px;" type="text" name="content">
  </textarea><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>